table {
  margin: auto;
  border-collapse: collapse;
  padding: 10%;
  margin-bottom: 3%;
}

.btn {
  color: #00000080 !important;
  border-color: #bf9b6d !important;
  margin-top: 1rem;
  color: black !important;
  background-color: #dfc5a5 !important;
  margin: auto;
  margin-top: 1rem;
  font-weight: 600 !important;
}

.btn:hover {
  background-color: #bf9b6d !important;
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
}

label {
  margin-top: 1%;
  font-weight: 600;
  margin-bottom: 0 !important;
  display: block;
}

.form-control {
  width: fit-content !important;
  margin: auto;
  font-size: 75% !important;
  text-align: center ;
  background-color: #fef4e8 !important;
  border-color: #bf9b6d !important;
}

.container {
  text-align: center;
  margin-bottom: 1%;
}

label {
  font-size: 13px;
}