.header-bar {
  text-align: center;
  justify-content: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  background-color: #f2e0cb;
  border-bottom: 0.1px solid #bf9b6d;
}

.title {
  font-family: Muli;
  font-size: 16px !important;
  letter-spacing: .2em;
  font-weight: 400;
  padding-top: 5%;
  text-transform: uppercase;
  margin: auto;
}