h6 {
  margin-top: 5% !important;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

pre {
  display: inline !important;
}

.content {
    padding-left: 10% !important;
    padding-right: 10% !important
}

.shortest-font {
  background-color: #f9b384
}

.visited-font {
  background-color: #bf9b6d
}