.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-bar {
  text-align: center;
  justify-content: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  background-color: #f2e0cb;
}

.title {
  font-family: Muli;
  font-size: 16px !important;
  letter-spacing: .2em;
  font-weight: 400;
  padding-top: 5%;
  text-transform: uppercase;
  margin: auto;
}

.nav-item {
  flex-grow: 1;
  flex: 1;
  flex-basis: auto;
  text-align: center;
}

a {
  border: black 100px;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: .3em;
  font-weight: 400;
}

.nav-link {
  border: black 100px;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: .3em;
  font-weight: 400;
}

.navbar-nav {
  flex: 1;
  border: 10px black;
}

.nav-link:hover{
  transform: scale(1);
  font-weight: bold;
}