.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu{
  background-color: #fef4e8 !important;
  border-color: #bf9b6d !important;
}

.btn {
  color: rgba(0,0,0,.5) !important;
  border-color: #bf9b6d !important;
  margin-top: 1rem;
  color: black !important;
}

.btn:hover {
  background-color: #f2e0cb !important;
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
}
