

.grid {
  height: 27px;
  width: 27px;
  line-height: 0;  
  border: 0.5px solid #bf9b6d;
}


.grid-start {
  background-color: yellow !important;
}

.grid-end {
  background-color: #df672c !important;
}

.grid-wall {
  background-color: #42240C;
}

.grid-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #ffdecf;
    border-radius: 100%;
  }

  50% {
    background-color: #f9c49a;
  }

  75% {
    transform: scale(1.2);
    background-color: #f69e7b;
  }

  100% {
    transform: scale(1);
    background-color: #bf9b6d;
    border-color: burlywood;
  }
}

.grid-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f9b384;
  }

  50% {
    transform: scale(1.2);
    background-color: #f9b384;
  }

  100% {
    transform: scale(1);
    background-color: #f9b384;
  }
}
