table {
  margin: auto;
  border-collapse: collapse;
  padding: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
}

.btn {
  color: rgba(0,0,0,.5) !important;
  border-color: #bf9b6d !important;
  margin-top: 1rem;
  color: black !important;
  background-color: #fef4e8 !important;
  margin: auto;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #f2e0cb !important;
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
}

label {
  font-size: 75%;
  font-weight: 700;
  margin-bottom: 0 !important;
  display: block;
}

.form-control {
  width: fit-content !important;
  margin: auto;
  font-size: 75% !important;
  text-align: center ;
  background-color: #fef4e8 !important;
  border-color: #bf9b6d !important;
}

.row {
  display: block;
}